/* Page Styling */
.screenheight {
  height: 100vh;
  width: 100vw;
}
.top, .bottom {
  height: 33%;
  background-color: rebeccapurple;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.middle {
  height: 34vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: lavender;
}
.hidden {
  display: none;
}
